@font-face {
  font-family: 'Avenir Next Bold';
  src: url('./fonts/AvenirNext-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('./fonts/AvenirNext-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('./fonts/AvenirNext-Demi.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Avenir Next Regular', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}